build
dist / media
node_modules
sqlt.db
README.md
pnpm-lock.yaml
public/media/
public/robots.txt
public/sitemap*.xml
.DS_Store
.env
.next
.vercel
.tmp
.tsconfig.json
**/payload-types.ts
**/.git
**/.hg
**/.pnp.*
**/.svn
**/.yarn/**
**/build
**/dist/**
**/node_modules
**/temp
**/docs/**
**/(payload)/**/*.*
