@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    scroll-behavior: smooth;

    --background: 0 0% 100%;
    --foreground: 222 84% 5%;

    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 30% 94%;
    --secondary-foreground: 222 84% 5%;

    --accent: 48 95% 50%;
    --accent-foreground: 222 84% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 50%;

    --card: 0 0% 100%;
    --card-foreground: 222 84% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 5%;

    --success: 142 76% 36%;
    --error: 0 84% 60%;
    --warning: 40 100% 58%;

    --border: 214 32% 92%;
    --input: 214 32% 92%;
    --ring: 142 76% 36%;
    --radius: 0.5rem;

    /* Carousel */
    --slide-height: 10rem;
    --slide-spacing: 2rem;
    --slide-size: 100%;

    --detail-medium-contrast: hsla(var(--foreground), 0.3);
    --text-high-contrast-rgb-value: 80, 80, 80;
    --text-body: hsl(var(--foreground));
    --text-body-hover: hsla(var(--foreground), 0.8);
    --detail-high-contrast: hsl(var(--secondary));
    --text-body-rgb-value: 80, 80, 80;
  }

  [data-theme='dark'] {
    scroll-behavior: smooth;

    --background: 144 61% 20%;
    --foreground: 0 0% 100%;

    --primary: 142 76% 36%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 0 0% 38%;
    --secondary-foreground: 0 0% 100%;

    --accent: 48 96% 52%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 64% 54%;
    --destructive-foreground: 0 0% 100%;

    --muted: 142 20% 10%;
    --muted-foreground: 200 20% 80%;

    --card: 142 76% 10%;
    --card-foreground: 0 0% 100%;

    --popover: 142 76% 10%;
    --popover-foreground: 0 0% 100%;

    --success: 142 76% 36%;
    --error: 0 64% 54%;
    --warning: 40 93% 47%;

    --border: 110 12% 46%;
    --input: 110 12% 46%;
    --ring: 142 76% 36%;
  }
  @supports not (scroll-behavior: smooth) {
    :root {
      scroll-behavior: auto;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply flex min-h-[100vh] flex-col bg-background text-foreground;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

@media (min-width: 768px) {
  :root {
    --slide-size: 50%;
    --slide-spacing: 3rem;
    --slide-height: 12rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --slide-size: 33%;
    --slide-spacing: 3rem;
    --slide-height: 12rem;
  }
}
